<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			Software Developer with an Excellent understanding of Java, Python and R. Actively seeking Full Time opportunities from May 2018. <br/><br/>
			I am passionate about learning new technologies and work on interesting projects from the internet. Being a sotware enthusiast love to create great products with great user experiences.
		</div>
		<br>
	</div>
</div>
