<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			Software Engineer, SDET and Test Automation Engineer with 6+ years of experience in designing test strategies, building automation frameworks, and optimizing test infrastructure across MicroStrategy, Amazon, and Alation. Skilled in Java, Python, Selenium, and Kubernetes, with expertise in cloud testing, CI/CD pipelines, and cross-functional collaboration on critical features and infrastructure.<br/><br/>
			I am passionate about learning new technologies and work on interesting projects from the internet. Being a sotware enthusiast love to create great products with great user experiences.
		</div>
		<br>
	</div>
</div>
